<form action="/users" method="POST">
    <label for="name" >Name:</label>
    <input type="name" name="name" id="name">

    <label for="file" style="margin-left:50px;" >upload photo:</label>
    <input type="file" name="Img" class="pic" >
    <br><br>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" class="ch">
    <% var done=0 %> 
    <%
    
    %>
<p>Alright</p>



    <br><br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
    <br><br>
    <label for="bool">User Type</label>
    <select name="select">
        <option value=true>Instructor</option>
        <option value=false>Student</option>
    </select>

    <br><br>
    <button type="submit">Sign Up</button>
</form>